.gallery {
    --ggap: 7px;
}

@media (max-width: 1024px) {
    .gallery {
        margin-top: 140px !important;
    }
}

@media (min-width: 500px) {
    .gallery {
        margin: 0 auto;
        width: 85%;
    }
}

@media (max-width: 792px) {
    .gallery img, .gallery video {
        width: 100%;
    }
    .secondRow {
        margin-top: 5px;
    }
    .pucksVid {
        margin-top: var(--ggap);
    }
    .mouseVid {
        margin-top: var(--ggap);
    }
    .coolinartVid {
        margin-top: var(--ggap);
    }
    .joisVid {
        margin-top: var(--ggap);
    }
    .phoneVid {
        margin-top: var(--ggap);
    }
    .burbBlock {
        margin-top: var(--ggap);
    }
    .rowWithThorus {
        margin-top: var(--ggap);
    }
    .flower {
        margin-top: var(--ggap);
    }
    .ninethRow {
        margin-top: var(--ggap);
    }
    
}

@media (min-width: 792px) {
    .gallery {
        margin: 0 11.516% 0 11.938%;
        width: 76.54%;
    }

    .gallery img, .gallery video {
        width: 100%;
    }

    .firstRow {
        margin-top: 84px;
        min-height: 291.21px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: var(--ggap);
    }

    .firstRow img,
    .secondRow img {
        width: 100%;
    }

    .secondRow {
        margin-top: -3.2vw;
        min-height: 291.21px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: var(--ggap);
        align-items: end;
    }

    .balloonsImg {
        align-self: end;
    }

    .cosmeticsVid {
        position: relative;
        min-height: 448.69px;
        margin-top: var(--ggap);
    }

    .cameraSound {
        position: absolute;
        bottom: 12px;
        right: 26px;
        padding: 20px;
    }


    .thirdRow {
        margin-top: var(--ggap);
        min-height: 644.18px;
        display: grid;
        grid-template-columns: 1fr 1.768fr;
        gap: var(--ggap);
    }

    .pucksVid,
    .coolinartVid {
        grid-row: span 1;
    }

    .coolinartVid {
        align-self: end;
    }

    .mouseVid {
        grid-row: span 2;
    }


    .joisVid {
        margin-top: var(--ggap);
        min-height: 334.06px;
    }

    .rowWithThorus {
        margin-top: var(--ggap);
        min-height: 363.82px;
        display: grid;
        grid-template-columns: 1.666fr 1fr;   
        grid-column-gap: var(--ggap);
    }

    .fifthRow {
        margin: var(--ggap) 0;
        min-height: 296.83px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: var(--ggap);
        grid-column-gap: var(--ggap);
    }

    .furnitureVid {
        min-height: 443.21px;
    }

    .phoneVid {
        grid-row: span 2;
    }

    .canVid {
        margin-top: var(--ggap);
        min-height: 448.69px;
        width: 100%;
    }

    .chakchak,
    .flower {
        grid-row: span 1;
    }

    .chakchak {
        align-self: end;
    }

    .flower {
        align-self: auto;
    }


    .seventhRow {
        margin-top: var(--ggap);
        min-height: 556.96px;
        display: grid;
        grid-template-columns: 0.9976fr 1fr;
        grid-column-gap: var(--ggap);
    }

    .burbBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--ggap);
    }

    
    .suitcase {
        margin-top: var(--ggap);
    }


    .ninethRow {
        margin: var(--ggap) 0;
        min-height: 301.61px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--ggap);
    }

    .customGalleryNav,
    .closeBtn {
        filter: none;
        padding: 0;
    }

    .closeBtn img {
        padding: 8px 13px 50px 20px;
    }

    .customGalleryNav img {
        padding: 50px 21px 50px 21px;
    }
}

@media (min-width: 1920px) {}

@media (max-width: 1061px) {
    .gallery * {
        min-height: 0;
    }
}

.slideFooter {
    width: calc(100% - 39px);
    bottom: 10px;
    padding: 16px 18px 20px 21px;
    background: white;
    font-family: "DJR", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
}